*{
	box-sizing: border-box;
  margin: 0px;
}

.mainSection, .resultsSection, .aboutSection, .historySection {
  background-color: #181818;
  text-align: center;
}

.navBar {
  background-color: #080808;
  overflow: hidden;
}

.navBar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navBar a:hover {
  background-color: #ddd;
  color: #000;
}

.navBar a:active {
  background-color: #AA336A;
  color: #ddd;
}

h1 {
  font-size: 65px;
  font-family: Pacifico, 'Times New Roman', Arial;
  color: 	#AA336A;
}

h2, h3 {
  font-size: 45px;
  text-align: center;
  color: #ddd;
}

h4{
  font-size: 20px;
  text-align: center;
  color: #ddd;
}

#recipe-search-box{
  width: 400px;
}

.search-box {
  width: 200px;
}

label {
  color: #ddd;
}

p {
  color: #ddd;
}